{% load humanize %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>INVOICE</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" 
    integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <style>
      .table,th,td {
        border: 1px solid black;
        table-layout: fixed;
        width: 100%;
      }
     *{overflow: auto;
    }
    *::-webkit-scrollbar{
      display: none;
    }

     

      th[colspan], td[colspan] {
        border-right: 1px solid black; 
      }
      .camount,.samount,.iamount{
        width:120%;
      }
      .dos {
        width: 500%; 
        word-wrap: break-word; 
      }
      .crate,.srate,.irate,.qty,.sac,.poslno,.uom{
        width:70%;
      }
      .total,.rate{
        width:130%;
      }
      .rate{
        width:110%;
      }
      .slno{
        width: 50%;
      }
      .container{
        height: 2rem;
      }
      body {
        margin: 0;
        padding:0px;
        font-size: 12px;
        /* margin-top: 1rem;*/
        margin-top : 130px;
        border:1px solid black;
        overflow-y: auto;        
    }
    body::-webkit-scrollbar{
      display: none;
    }
      .a{
        text-align: center;
      }
      footer {
        bottom: 10;
        left: 0;
        width: 100%;
        text-align: left;
        padding: 10px;
      }
    
    </style>  
</head>
<body >
  <div id="invoice">
    <div class="container" >
        <div class="row">
            <div class="col-12">
                <h5 style="text-align: center;">TAX INVOICE</h5>
            </div>
        </div>
    </div>

    <br><br>

   
     <div class="row">
        <div class="col-md-6 col-sm-6 text-left inv">
            <ul style="list-style-type:none;">
              <li><h6><strong>Invoice details</strong></h6></li>
                <li>
                    <strong>GST No&emsp;&emsp;&emsp;&emsp; :</strong> <b>{{m.mat_gst_code}}</b>
                </li>
                <li>
                    <strong>Reverse charge&nbsp;&nbsp; :</strong> N.A
                </li>
                <li>
                    <strong>Invoice Number&nbsp;:</strong> <b>{{odc1.gcn_no}}</b>
                </li>
                <li>
                    <strong>Invoice Date&emsp;&emsp;:</strong> <b>{{odc1.gcn_date|date:'d-m-Y'}}</b>
                </li>
            </ul>
        </div>
        <div class="col-md-6 col-sm-6 text-right transport">
           
                <ul style="list-style-type:none;">
                  <li> <h6><strong>Transportation Mode</strong> : Road</h6></li>
        
                        <li>
                            <strong>PO No&emsp;&emsp;&emsp;&emsp;&nbsp;&nbsp;&nbsp;:</strong> {{odc1.po_no}}
                        </li>
                        <li>
                            <strong>PO Date&emsp;&emsp;&emsp;&emsp;:</strong> {{odc1.po_date|date:'d-m-Y'}}
                        </li>
                        <li>
                            <strong>Inward DC No &emsp;:</strong> {{odc1.grn_no}}
                        </li>
                        <li>
                            <strong>Inward DC Date &nbsp;:</strong> {{odc1.grn_date|date:'d-m-Y'}}
                        </li>
                        <li>
                          <strong>Date of Supply&emsp;:</strong> {{odc1.gcn_date|date:'d-m-Y'}}
                        </li>
                        <li>
                          <strong>Place of Supply&nbsp;&nbsp; :</strong> Ex-works,Banglore
                        </li>
                </ul>
          </div>    
    </div>
  
    <div class="row">
        <div class="col-md-6 col-sm-6 text-left r">
                  
              <ul style="list-style-type:none;">
                <li><h6><strong>Details of Receiver(Billed to)</strong></h6>  </li>
                <li>
                  <strong>Name &emsp;&emsp; : </strong>{{r.cust_name}}
                </li>
                <li>
                  <strong>Address &emsp; : </strong>{{r.cust_addr1}} <br>&emsp;&emsp;&emsp;&emsp;&emsp;&nbsp;&nbsp;&nbsp;{{r.cust_addr2}} 
                </li>
              <li>
                &emsp;&emsp;&emsp;&emsp;&emsp;&nbsp;&nbsp;&nbsp;{{r.cust_city}} - {{r.cust_pin}}
              </li>
                <li>
                  <strong>State &emsp;&emsp;&nbsp;&nbsp; : </strong>{{r.cust_st_name}}
                </li>
                <li>
                  <strong>State Code : </strong>{{r.cust_st_code}}
                </li>
                <li>
                  <strong>GST No &emsp;&nbsp;&nbsp;: </strong> <b>{{r.cust_gst_id}}</b>
                </li>
              </ul>      
        </div>
    
        <div class="col-md-6 col-sm-6 text-right c">
                   
                    <ul style="list-style-type:none;">
                      <li> <h6><strong>Details of Consignee(Shipped to)</strong></h6></li>
                        <li>
                          <strong>Name &emsp;&emsp; : </strong>{{c.cust_name}}
                        </li>
                        <li>
                          <strong>Address &emsp; : </strong>{{c.cust_addr1}} 
                        </li>
                        <li>
                          &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;{{c.cust_addr2}} 
                        </li>
                        <li>
                          &emsp;&emsp;&emsp;&emsp;&emsp;&nbsp;&nbsp;&nbsp;&nbsp;{{c.cust_city}} - {{c.cust_pin}}
                        </li>
                        <li>
                          <strong>State &emsp;&emsp;&nbsp;&nbsp; : </strong>{{c.cust_st_name}}
                        </li>
                        <li>
                          <strong>State Code : </strong>{{c.cust_st_code}}
                        </li>
                        <li>
                          <strong>GST No &emsp;&nbsp;&nbsp;: </strong> <b>{{c.cust_gst_id}}</b>
                        </li>
                      </ul>      
           </div>   
     </div>   
                  <div class="container-fluid main" >
                    <table class="table table-hover border border-secondary ">
                        <tr class="a">
                            <th class="slno"><label>Sl No</label></th>
                            <th class="dos" style="word-wrap: break-word;">Description of Services</th>
                            <th class ="poslno">PO Item Sl.No</th>
                            <th class="sac">SAC Code</th>
                            <th class="qty">QTY</th>
                            <th class="uom">UOM</th>
                            <th class="rate">Rate</th>
                            <th class="total">Total</th> 
                            <th class="crate">CGST Rate (%)</th>
                            <th class="camount">CGST Amount (Rs)</th>
                            <th class="srate">SGST Rate (%)</th>
                            <th class="samount">SGST Amount (Rs)</th>
                            <th class="irate">IGST Rate (%)</th>
                            <th class="iamount">IGST Amount (Rs)</th>
                        </tr>
  
                          <tr>
                            <td></td>
                            <td>Exterior painting of :</td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td ></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                          </tr>
                       <div>
                          {% for record in odc %}
                            <tr>
                                <td class="slno">{{forloop.counter}}</td>
                                <td class="dos" >{{record.part_name}} - ({{record.part_id}})</td>
                                <td  class ="poslno">{{record.po_sl_no}}</td>
                                <td class="sac">9988</td>
                                <td class="qty"style="text-align: right;">{{record.qty_delivered}}</td>
                                <td  class="uom">{{record.uom}}</td>
                                <td class="rate" style="text-align: right ;">{{record.unit_price|floatformat:2}}</td>
                                <td class="total"style="text-align: right ;">{{record.taxable_amt|floatformat:2}}</td>
                                <td class="crate"style="text-align: center;">
                                  {% if c.cust_st_code == 29 %}
                                    {{ gr.cgst_rate }}
                                    {% else %}
                                   
                                  {% endif %}
                                </td>
                                <td class="camount"style="text-align: right;">
                                  {% if c.cust_st_code == 29 %}
                                    {{ record.cgst_price|floatformat:2 }}
                                    {% else %}
                                   
                                  {% endif %}
                                </td>
                                <td class="srate"style="text-align: center;">
                                  {% if c.cust_st_code == 29 %}
                                    {{ gr.sgst_rate }}
                                    {% else %}
                                    
                                  {% endif %}
                                </td>
                                <td  class="samount"style="text-align: right;">
                                  {% if c.cust_st_code == 29 %}
                                    {{ record.sgst_price|floatformat:2}}
                                  {% else %}
                                    
                                  {% endif %}
                                </td>
                                <td  class="irate"style="text-align: center;">
                                  {% if c.cust_st_code == 29 %}
                                    
                                  {% else %}
                                    {{ gr.igst_rate }}
                                  {% endif %}
                                </td>
                                <td class="iamount"style="text-align: right;">
                                  {% if c.cust_st_code == 29 %}
                                   
                                  {% else %}
                                    {{ record.igst_price}} 
                                  {% endif %}
                                </td>
                            </tr>
                            {% endfor %}
                      </div>
                         <tr>
                            <td>  </td>
                            <td>  </td>
                            <td colspan="2"> Total:</td>
                            <td style="text-align: right;">{{total_qty}}</td>
                            <td>Nos</td>
                            <td>  </td>
                            <td style="text-align: right;">{{total_taxable_value}}</td>
                            <td>  </td>
                           
                            <td style="text-align: right;">
                              {% if c.cust_st_code == 29 %}
                                {{ total_cgst|floatformat:2 }}
                                {% else %}
                               
                              {% endif %}
                            </td>
                            <td>  </td>
                            
                            <td style="text-align: right;">
                              {% if c.cust_st_code == 29 %}
                                {{ total_sgst|floatformat:2 }}
                                {% else %}
                                
                              {% endif %}
                            </td>
                            <td> </td>
                           
                            <td style="text-align: right;">
                              {% if c.cust_st_code == 29 %}
                               
                              {% else %}
                                {{total_igst}}
                              {% endif %}
                            </td>
                        </tr>
                    </table> 
                  </div>           
                    <div class="container-fluid">
                     <table class="table table-striped ">
                            <tr>
                                <td style="text-align: center;"colspan="10">INVOICE VALUE(in Words) <br>
                                    <strong>{{amount}}</strong> 
                                </td>
                              <td style="text-align:center;"colspan="5">Total : {{gt}}</td>
                            </tr>                        
                      </table>
                    </div>
                <div class="col-12">
                    <h6 style="text-align: center;">Certified that the Particulars given above are correct</h6>
                </div>

            <div class="container-fluid">
              <table class="table">
                <tbody>
                  <tr>
                    <td colspan="2" class="text-center"><h6>TERMS AND CONDITIONS OF SALE <br> </h6>AS PER PO TERMS
                  <hr>
                      <strong>Our Bankers (NEFT/RTGS details):</strong>
                      <ul class="list-unstyled">
                        <li>{{m.bank_name}}, {{m.bank_address}}</li>
                        <li>A/c N. {{m.bank_acc_no}}</li>
                        <li>IFSC Code: {{m.ifsc_code}}</li>
                      </ul>
                    </td>
                   
                    <td> <h6 class="text-center"> FOR MATCON ENGINEERING ENTERPRISES</h6>
                      <hr>
                      <ul class="list-unstyled">
                        <li>
                          <form>
                            <label for="signature"><strong>Signature:</strong></label>
                            <textarea id="signature" class="form-control" rows="2" cols="50"></textarea>
                          </form>
                        </li>
                        <li style="text-align: center;"><strong>For Authorized Signatory</strong></li>
                        <li><strong>Name:</strong> K V Sivaramkrishnan</li>
                        <li><strong>Designation:</strong> GENERAL MANAGER (FINANCE)</li>
                      </ul>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
            
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

</div>

<br><br>
<footer><strong>MATCON/FORMS/021/00</strong></footer>
</body>

</html>


